h2 Default copyright term after author's death

div#map

ul#legend
  li.term-less 
    b
    div Less than 50 years
  li.term-50
    b
    div 50 years
  li.term-middle
    b
    div Between 50 and 70 years
  li.term-70
    b
    div 70 years
  li.term-more
    b
    div More than 70 years
  li.term-other
    b
    div Other or unknown

div.clear
