h2 The construction of every nuclear reactor

ul#legend
  li.construction
    b
    div Under construction
  li.operational
    b
    div Operational
  li.shutdown
    b
    div Permanent or long-term shutdown

div#map
