/*
 * Config
 */
border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

/*
 * Thing styles
 */
.item-body h2
  // font-size 1.2em
  // line-height 1.2em
  // font-style bold
  margin 15px 0px 10px

#map
  width: 100%

svg
  background-color: $qz-map-water

.borders path
  stroke: $qz-map-land-stroke
  stroke-width: 1px
  fill: $qz-map-land-fill

  &.term-less
    fill: #51b2e5

  &.term-50
    fill: #b4d8e3

  &.term-middle
    fill: #ffffe0

  &.term-70
    fill: #e9c8cb

  &.term-more
    fill: #d190b6

ul#legend
  padding: 0
  padding 10px 0
  list-style-type: none

  li
    display: inline-block
    margin: 0 18px 0 0
    padding: 0
    line-height: 15px

    b
      display: inline-block
      width: 15px
      height: 15px
      margin-right: 6px
      float: left
      border: 1px solid $qz-map-land-stroke

    div
      whitespace: nowrap
      fill: $qz-gray-2
      font-size: 12px
      font-family: 'AdelleSans-Regular', Helvetica, Arial, sans-serif
      float: left;

    &.term-less b
      background-color: #51b2e5

    &.term-50 b
      background-color: #b4d8e3

    &.term-middle b
      background-color: #ffffe0

    &.term-70 b
      background-color: #e9c8cb

    &.term-more b
      background-color: #d190b6

    &.term-other b
      background-color: $qz-map-land-fill

div.clear
  clear: both

/*
 * Media queries
 */
@media screen and (max-width: 600px)
  .item-body h2
    font-size 14px
  //
  // ul#legend
  //   li
  //     margin: 0 12px 0 0
  //     line-height: 9px
  //
  //     b
  //       width: 9px;
  //       height: 9px;
  //       margin-right: 4px
  //
  //     div
  //       font-size: 9px

  .borders path
    stroke-width: 0.5px

  #footer
    font-size: 60%
