/*
 * Config
 */
border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

/*
 * Thing styles
 */
.item-body h2
  // font-size 1.2em
  // line-height 1.2em
  // font-style bold
  margin 15px 0px 10px

svg
  background-color: $qz-map-water

.borders path
  stroke: $qz-map-land-stroke
  stroke-width: 1px
  fill: $qz-map-land-fill

.reactors
  circle
    opacity: 0.7

    &.construction
      fill: $qz-blue-1

    &.shutdown
      fill: $qz-purp-4

    &.operational
      fill: $qz-purp-1

text.year
  fill: $qz-gray-2
  font-family: 'AdelleSans-Regular', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  font-size: 500%
  opacity: 0.75

.controls
  polygon
    fill: $qz-gray-3

  text
    fill: $qz-gray-3
    font-family: 'AdelleSans-Regular', Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    font-size: 300%

rect.play
  fill: rgba(200,200,200,0.3)
  stroke-width: 2px
  stroke: $qz-gray-2

  &:hover
    cursor: pointer

div.clear
  clear: both

/*
 * Media queries
 */
@media screen and (max-width: 600px)
  .item-body h2
    font-size 14px
  //
  // ul#legend
  //   li
  //     margin: 0 12px 0 0
  //     line-height: 9px
  //
  //     b
  //       width: 9px;
  //       height: 9px;
  //       margin-right: 4px
  //
  //     div
  //       font-size: 9px

  .borders path
    stroke-width: 0.5px

  #footer
    font-size: 60%
